{% extends 'base.html' %}

{% block content %}

<div class="align-center col-10 offset-1">
    <div class="d-flex justify-content-between align-items-center">
        <p class="lead ml-0">My contacts</p>
        <form hx-post="{% url 'demoapp:contact-create' %}" hx-target='#contact-list' class="d-flex align-items-center" method="POST">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            <input type="text" name="name" class="form-control-sm mr-2" placeholder="Enter name" hx-post="/check-name/" hx-trigger="keyup" hx-target="#name-exist"/>

            <input type="text" name="phone_number" class="form-control-sm mr-2" placeholder="Enter phone number" />

            <button hx-post='{% url "demoapp:contact-create"%}' hx-target='#contact-list' type="submit" class="btn btn-success btn-sm">Save</button>
        </form>
    </div>
    <hr/>

    <div id="contact-list">
        {% include 'demoapp/contact_list.html' %}
    </div>
</div>
{% endblock content %}